<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://avatarfiles.alphacoders.com/821/thumb-82166.png">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>  
        <a class="edit-profile" href="<%= destroy_user_session_path%>" data-method="delete">
          <button>Logout</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name %></h2>
      <%=link_to current_user.website, current_user.website, class: "website" %>
    </div>
  </div>    
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    GAMES
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    POSTS/COMMENTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
  <a class="edit-profile" href="https://tetrisnew3.herokuapp.com/" target="_blank">
  <img src="https://media2.giphy.com/media/l41m4rC9j8kMjXB0k/giphy.gif">
  <h1>VideoGame1</h1>
</a>
  </div>
  <div class="wrapper">
  <a class="edit-profile" href="http://127.0.0.1:8887" target="_blank">
    <img src="https://i.imgur.com/xAMLmg7.gif">
    <h1>VideoGame2</h1>
  </div>
  <div class="wrapper">
  <a class="edit-profile" href="" target="_blank">
    <img src="https://media.tenor.com/images/c614bbb889b444c384d488babf7d1ab7/tenor.gif">
    <h1>Coming Soon!!!</h1>
  </div>
</div>